.players {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: auto;
    padding: 10px 0;
}

.player {
    width: 70px;
}

.player-image {
    height: 70px;
    width: 70px;
    border: 1px solid #000;
    border-radius: 50%;
}

.player-image img {
    object-fit: scale-down;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.player-name {
}